/*grilla*/
.contenedor {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 5px;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
    padding: 0px 0px 5px 0px; 
}

nav {
    grid-area: nav;

}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    text-align: center;
}

/* Logo inicial */
.imagenLogo {
    display: block;
    margin: 0px auto;
    width: 365px;
    height: 154px;
}

/* Lista del navegador */

.navbar{
    justify-content:space-around;
}
nav ul {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    padding:0;


}

/* items de la lista del navegador */
nav ul li {
    display: inline-flex;

}


.items-nav {
    text-decoration: none;
    color: #292828;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.transformar {

    transition-duration: 0.5s;
    transition-timing-function: ease;

}

.transformar:hover {
    transform: scale(1.2, 1.2);
}

/* encabezado del index */
.encabezado1 {
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0px 5px 0px;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    color: #292828;
    font-weight: 700;
    letter-spacing: 3px;
}

.encabezado2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
    color: #292828;
    padding: 0px 0px 10px 0px;

}


.fondoGris {
    background-color: rgb(235, 235, 236);
    padding: 10px 0px 15px 0px;
    margin: 10px 0px 15px 0px;
}

.encabezado3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #292828;
}

.encabezado4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #292828;
}

.encabezado4-index {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #292828;

}

.encabezadoBold {
    font-weight: 600;
}


.linkInstagram {
    font-weight: 600;

}

.fotos {

    text-align: center;
}


.foto {
    width: 100%;
    height: auto;

}

section table {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 400px;
    height: 200px;
    table-layout: auto;
    margin: 0px auto;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.encabezadoAngosto {
    margin: 0px 10px 15px 10px;
}



.fotoProducto {
    background-color: #ebebec;
    width: 70vw;
    padding: 10px;
    margin: 40px auto 40px auto;
    border-radius: 10px;
    text-align: center;

}

.productos {
    text-align: center;
}

.foto-2 {
    max-width: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.encabezado5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #292828;
    margin: 10px 30px;
}

.encabezado6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #292828;
    margin: 10px 30px;
}

.encabezado7 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #292828;

}

/*FORMULARIO EN SECCION CONTACTO*/

.formulario-contacto {
    background-color: #ebebec;
    width: 400px;
    border-radius: 10px;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;

}

.contacto {
    padding: 3rem;
    overflow: hidden;
    color: #292828;
}

.contacto-label {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-weight: 600;
}

.contacto-input2 {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    border: none;
    background-color: #292828;
    color: #ffffff;
    font-size: 18px;
    border-radius: 3px;
}

.contacto-input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    border: none;
    border-bottom: 2px solid #292828;
    font-size: 20px;
    outline: none;
    color: #292828;
}

.contacto-textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.alert{
    font-family: 'Montserrat', sans-serif;
}
/*RESPONSIVE*/
@media screen and (min-width:600px) {

    .fotos {
        display: flex;
        justify-content: space-evenly;
    }

    .foto {
        display: flex;
        justify-content: space-evenly;
        width: 48vw;
        height: auto;
    }

    .encabezado4-index {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #292828;

    }

    .productos {
        display: flex;
        justify-content: space-around;
    }

    .fotoProducto {
        background-color: #ebebec;
        width: 25vw;
        margin: 40px;
        border-radius: 10px;


    }

    .encabezadoAngosto {
        margin: 0px 150px 15px 150px;
    }

    .formulario-contacto {

        margin: 10px auto;


    }

    /*Acá probé hacer estas cosas para ver si podía espaciar el nav pero no pude
    
    .navbar{
        justify-content:space-around !important;
    }

    .items-nav {
        justify-content:space-around !important;
    }
        ul {
        justify-content:space-around !important;
    }
    .container-fluid{
        justify-content:space-around !important;
    }
    */
}